{
  "token": "YOUR DISCORD BOT TOKEN - DO NOT LEAK THIS TO INTERNET, IF YOU DO REGENERATE A NEW TOKEN ASAP",
  "clientID": "YOUR TWITCH CLIENT ID",
  "oauth": "YOUR TWITCH OAUTH TOKEN - DO NOT LEAK THIS TO INTERNET, IF YOU DO REGENERATE A NEW TOKEN & DONT FORGET TO REVOKE OLD OAUTH TOKEN IF NEEDED ASAP"
}
